@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700&display=swap");

body {
  font-family: Mulish, sans-serif !important;
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

#half-break {
  line-height: 5px !important;
}

td {
  cursor: pointer !important;
}

#id {
  display: none;
}

.main-content-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 125px;
  background: #dfe0eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.manage-employees {
  width: 100%;
  height: 175;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: 18px;
  white-space: nowrap;
  margin-left: 32px;
  font-weight: 700;
  visibility: hidden;
}

.header h1 img {
  width: 25px;
}

.header h1 span {
  margin-left: 6px;
}

.admin-section {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 0px;
  justify-content: center;
  align-items: center;
}

.sign-out {
  width: 90px;
  height: 25px;
  border-radius: 100px;
  border: none;
  background: #f16f33;
  margin-left: 16px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search,
.add-employee,
.add-department,
.reset,
.add-location {
  width: 170px;
  height: 25px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.add-employee,
.add-department {
  margin-top: 0px;
  background: #29cc97;
}

.add-location,
.reset {
  background: #29cc97;
  margin-top: 10px;
}

.add-department {
  margin-left: 7px;
}

.reset {
  width: 110px !important;
  background: #f16f33;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-top: 10px;
}

.search {
  width: 170px;
  background: #f19833;
  margin-left: 7px;
  text-align: center;
  margin-top: 7px;
}

.add-employee span,
.add-department span,
.sort span,
.filter span {
  margin-left: 10px;
}

.sort,
.filter {
  margin-left: 16px;
  width: 75px;
  background: none;
  border: none;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
}

.databaseWrapper {
  width: 100%;
  height: 100vh;
  padding: 0px 0px;
}

.hide {
  display: none;
}

.hide2 {
  display: none;
}

.tableFixHead {
  overflow-y: auto;
}
.tableFixHead .coloured-bg {
  position: sticky;
  top: 0;
  background: #dfe0eb;
  box-shadow: 0 0.25px 0 #dfe0eb, 0 -2.5px 0 #dfe0eb;
}

#database button {
  border: none;
  background: none;
}

#database button img {
  width: 25px;
}

#database button span {
  color: rgba(0, 0, 0, 0.1) !important;
}

#add-employee-form,
#update-employee-form,
#manage-departments-form,
#manage-locations-form,
#search-form,
#sign-in-form {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.8);
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sign-in-form {
  background: rgba(196, 196, 196, 1) !important;
}

.employee-form,
.employee-info,
.department-info,
.location-info,
.search-info {
  width: 85%;
  height: 90%;
  background: #dfe0eb;
  border-radius: 40px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.employee-info {
  height: 98% !important;
}

.department-info {
  height: 75% !important;
}

/*.signIn-form {
  width: 85%;
  height: 60%;
  border-radius: 50px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: linear-gradient(
    180deg,
    #bafdf1 0%,
    rgba(253, 180, 255, 0.4) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}*/

.location-info {
  height: 55% !important;
}

.search-info {
  height: 65% !important;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 25px;
  z-index: 200;
  cursor: pointer;
}

.logo-login {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#company-logo {
  width: 50px;
}
#company-logo-text {
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 16px !important;
  white-space: nowrap;
}

.employee-form-wrapper,
.employee-form-info-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.search-form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
}

.search-form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.btn {
  background: #29cc97 !important;
  width: 171px;
  height: 34px;
  border-radius: 100px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  margin-left: 17% !important;
}

.btn2 {
  background: #29cc97 !important;
  width: 100px;
  height: 34px;
  border-radius: 100px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
}

.btn3 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #29cc97 !important;
  width: 100px;
  height: 34px;
  border-radius: 100px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
}

.search-btn {
  background: #29cc97 !important;
  color: white;
  width: 120px;
  height: 34px;
  border-radius: 100px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
}

label {
  font-weight: 700 !important;
  font-style: bold !important;
}

#form-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
  background: #dfe0eb;
  border-radius: 30px;
  z-index: 400;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#form-cover2,
#form-cover3,
#form-cover4,
#form-cover5,
#form-cover6,
#form-cover7,
#form-cover8,
#form-cover9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 197px;
  background: #dfe0eb;
  border-radius: 30px;
  z-index: 400;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.confirm-action,
.confirm-action3,
.confirm-action2,
.confirm-action4,
.confirm-action5,
.confirm-action6,
.confirm-action7,
.confirm-action8,
.confirm-action9 {
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.8);
  z-index: 105;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-wrapper,
.confirm-wrapper2,
.confirm-wrapper3,
.confirm-wrapper4,
.confirm-wrapper5,
.confirm-wrapper6,
.confirm-wrapper7,
.confirm-wrapper8,
.confirm-wrapper9 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.confirm-text-add-employee {
  text-align: center;
  margin: 0px 30px 20px 30px;
}

#yes,
#no,
#yes2,
#no2,
#yes3,
#no3,
#yes4,
#no4,
#yes5,
#no5,
#yes6,
#no6,
#yes7,
#no7,
#yes8,
#yes9 {
  color: white;
  width: 100px;
  height: 34px;
  border-radius: 100px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
}

#yes,
#yes2,
#yes3,
#yes4,
#yes5,
#yes6,
#yes7,
#yes8,
#yes9 {
  background: #29cc97 !important;
}

#no,
#no2,
#no3,
#no4,
#no5,
#no6,
#no7 {
  background: #cc4129 !important;
}

#success-notification-wrapper,
#removed-notification-wrapper,
#updated-notification-wrapper,
#department-notification-wrapper,
#department-removed-notification-wrapper,
#location-notification-wrapper,
#location-removed-notification-wrapper,
#signIn-notification-wrapper,
#signOut-notification-wrapper {
  position: absolute;
  top: 3%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 34px;
  background: #29cc97 !important;
  opacity: 0.8;
  border-radius: 100px !important;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 105;
  margin: 0;
  display: none;
}

#signIn-notification-wrapper,
#signOut-notification-wrapper {
  width: 200px !important;
  left: 23% !important;
}

.success-notification,
.removed-notification,
.updated-notification,
.department-added-notification,
.department-removed-notification,
.location-added-notification,
.location-removed-notification,
.signIn-notification,
.signOut-notification {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.success-notification img,
.removed-notification img,
.updated-notification img,
.department-added-notification img,
.department-removed-notification img,
.location-added-notification img,
.location-removed-notification img,
.signIn-notification img,
.signOut-notification img {
  width: 17.5px;
  margin-left: 5px;
}

/* EDIT MODE SLIDER */

.edit-mode {
  position: absolute;
  top: 20px;
  left: 33px;
}

#edit-mode-text {
  margin-left: 5px;
  font-weight: 700 !important;
  font-style: bold !important;
}

.required,
.required-text span {
  color: red;
  font-size: 12px;
}

.required-text span {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .hide2 {
    display: none;
  }

  .main-content-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 100vw;
    height: 175px;
    background: #dfe0eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header h1 {
    margin-left: 32px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
  }

  .manage-employees {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-title {
    font-size: 18px;
    white-space: nowrap;
    margin-left: 32px;
    font-weight: 700;
    visibility: visible;
  }

  .header h1 img {
    width: 50px;
  }

  .header h1 span {
    margin-left: 16px;
  }

  .admin-profile img {
    width: 40px;
    margin-left: 16px;
  }

  .buttons,
  .admin-section {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
  }

  .sign-out {
    width: 100px;
    height: 34px;
    border-radius: 100px;
    border: none;
    background: #f16f33;
    margin-left: 16px;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .search,
  .add-employee,
  .add-department,
  .reset,
  .add-location {
    width: 171px;
    height: 34px;
    border-radius: 100px;
    border: none;
    color: white;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 0px;
  }

  .add-location {
    margin-left: 16px;
  }

  .add-employee {
    background: #29cc97;
    margin-top: 0px;
  }

  .add-department,
  .reset {
    margin-left: 16px;
    background: #29cc97;
  }

  .reset {
    width: 100px !important;
    background: #f16f33;
    margin-bottom: 0px;
    margin-left: 16px;
  }

  .search {
    width: 100px;
    background: #f19833;
    margin-left: 16px;
    text-align: center;
    margin-left: 16px;
  }

  .add-employee span,
  .add-department span,
  .sort span,
  .filter span {
    margin-left: 8px;
  }

  .sort,
  .filter {
    margin-left: 16px;
    width: 75px;
    background: none;
    border: none;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
  }

  .databaseWrapper {
    width: 100%;
    height: 100vh;
    padding: 0px 32px;
  }

  .hide {
    display: table-cell;
  }

  .tableFixHead {
    overflow-y: auto;
  }
  .tableFixHead .coloured-bg {
    position: sticky;
    top: 0;
    background: #dfe0eb;
    box-shadow: 0 0.5px 0 #dfe0eb, 0 -0.5px 0 #dfe0eb;
  }

  #database button {
    border: none;
    background: none;
  }

  #database button img {
    width: 25px;
  }

  #database button span {
    color: rgba(0, 0, 0, 0.1) !important;
  }

  #add-employee-form,
  #update-employee-form,
  #manage-departments-form,
  #manage-locations-form,
  #search-form,
  #sign-in-form {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.8);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #sign-in-form {
    background: rgba(196, 196, 196, 1) !important;
  }

  .employee-form,
  .employee-info,
  .department-info,
  .location-info,
  .search-info {
    width: 30%;
    height: 80% !important;
    background: #dfe0eb;
    border-radius: 50px;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .employee-info {
    height: 92% !important;
  }

  .department-info {
    height: 60% !important;
  }

  .signIn-form {
    width: 20%;
    height: 60%;
    border-radius: 50px;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: linear-gradient(
      180deg,
      #bafdf1 0%,
      rgba(253, 180, 255, 0.4) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .location-info {
    height: 45% !important;
  }

  .search-info {
    height: 55% !important;
  }

  #close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 25px;
    z-index: 200;
  }

  .logo-login {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #company-logo {
    width: 50px;
  }
  #company-logo-text {
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 16px !important;
    white-space: nowrap;
  }

  .employee-form-wrapper,
  .employee-form-info-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .search-form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-content: center !important;
  }

  .search-form-group {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .btn {
    background: #29cc97 !important;
    width: 171px;
    height: 34px;
    border-radius: 100px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
    margin-left: 25% !important;
    margin-top: 10px !important;
  }

  .btn2 {
    background: #29cc97 !important;
    width: 100px;
    height: 34px;
    border-radius: 100px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
  }

  .btn3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #29cc97 !important;
    width: 100px;
    height: 34px;
    border-radius: 100px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
  }

  .search-btn {
    background: #29cc97 !important;
    color: white;
    width: 120px;
    height: 34px;
    border-radius: 100px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
  }

  label {
    font-weight: 700 !important;
    font-style: bold !important;
  }

  #form-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30%;
    background: #dfe0eb;
    border-radius: 30px;
    z-index: 400;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .confirm-action {
    width: 30%;
    height: 80%;
    background: rgba(196, 196, 196, 0.8);
    border-radius: 50px;
    z-index: 105;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #form-cover2,
  #form-cover3,
  #form-cover4,
  #form-cover5,
  #form-cover6,
  #form-cover7,
  #form-cover8,
  #form-cover9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 346px;
    height: 197px;
    background: #dfe0eb;
    border-radius: 30px;
    z-index: 400;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .confirm-action3,
  .confirm-action2,
  .confirm-action4,
  .confirm-action5,
  .confirm-action6,
  .confirm-action7,
  .confirm-action8,
  .confirm-action9 {
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.8);
    z-index: 105;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm-wrapper,
  .confirm-wrapper2,
  .confirm-wrapper3,
  .confirm-wrapper4,
  .confirm-wrapper5,
  .confirm-wrapper6,
  .confirm-wrapper7,
  .confirm-wrapper8,
  .confirm-wrapper9 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirm-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .confirm-text-add-employee {
    text-align: center;
    margin: 0px 30px 20px 30px;
  }

  #yes,
  #no,
  #yes2,
  #no2,
  #yes3,
  #no3,
  #yes4,
  #no4,
  #yes5,
  #no5,
  #yes6,
  #no6,
  #yes7,
  #no7,
  #yes8,
  #yes9 {
    color: white;
    width: 100px;
    height: 34px;
    border-radius: 100px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
  }

  #yes,
  #yes2,
  #yes3,
  #yes4,
  #yes5,
  #yes6,
  #yes7,
  #yes8,
  #yes9 {
    background: #29cc97 !important;
  }

  #no,
  #no2,
  #no3,
  #no4,
  #no5,
  #no6,
  #no7 {
    background: #cc4129 !important;
  }

  #success-notification-wrapper,
  #removed-notification-wrapper,
  #updated-notification-wrapper,
  #department-notification-wrapper,
  #department-removed-notification-wrapper,
  #location-notification-wrapper,
  #location-removed-notification-wrapper,
  #signIn-notification-wrapper,
  #signOut-notification-wrapper {
    position: absolute;
    top: 5.5%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 34px;
    background: #29cc97 !important;
    opacity: 0.8;
    border-radius: 100px !important;
    font-weight: 700 !important;
    font-style: bold !important;
    font-size: 14px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 105;
    margin: 0;
    display: none;
  }

  #signIn-notification-wrapper,
  #signOut-notification-wrapper {
    width: 200px !important;
    left: 43% !important;
  }

  .success-notification,
  .removed-notification,
  .updated-notification,
  .department-added-notification,
  .department-removed-notification,
  .location-added-notification,
  .location-removed-notification,
  .signIn-notification,
  .signOut-notification {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .success-notification img,
  .removed-notification img,
  .updated-notification img,
  .department-added-notification img,
  .department-removed-notification img,
  .location-added-notification img,
  .location-removed-notification img,
  .signIn-notification img,
  .signOut-notification img {
    width: 17.5px;
    margin-left: 5px;
  }

  #save-updates {
    display: none;
    position: absolute;
    bottom: -6%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  /* EDIT MODE */

  .edit-mode {
    position: absolute;
    top: 27px;
    left: 40px;
  }

  #edit-mode-text {
    margin-left: 5px;
    font-weight: 700 !important;
    font-style: bold !important;
  }

  #location {
    margin-bottom: 10px !important;
  }

  .required,
  .required-text span {
    color: red;
    font-size: 12px;
  }
}
