@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700&display=swap");

body {
  font-family: Mulish, sans-serif !important;
  font-style: normal;
  font-weight: 600;
}

.main-content-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100vw;
  height: 175px;
  background: #dfe0eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin-left: 32px;
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.manage-employees {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-size: 18px;
  white-space: nowrap;
  margin-left: 32px;
  font-weight: 700;
}

.header h1 img {
  width: 40px;
}

.header h1 span {
  margin-left: 16px;
}

.admin-profile img {
  width: 40px;
  margin-left: 16px;
}

.buttons,
.admin-section {
  display: flex;
  flex-direction: row;
  margin-right: 32px;
}

.sign-out {
  width: 100px;
  height: 34px;
  border-radius: 100px;
  border: none;
  background: white;
  margin-left: 16px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  color: #c7c8d3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search,
.add-employee,
.add-department {
  width: 171px;
  height: 34px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.add-employee {
  background: #29cc97;
}

.add-department {
  margin-left: 16px;
  background: #29cc97;
}

.search {
  background: #dfe0eb;
  color: black;
  margin-left: 16px;
  text-align: center;
  background-image: url(../media/svg/search.svg);
  background-repeat: no-repeat;
  background-position: 10% center;
}

.search span,
.add-employee span,
.add-department span,
.sort span,
.filter span {
  margin-left: 8px;
}

.sort,
.filter {
  margin-left: 16px;
  width: 75px;
  background: none;
  border: none;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
}

.databaseWrapper {
  width: 100%;
  height: 100vh;
  padding: 0px 32px;
}

#database button {
  border: none;
  background: none;
}

#database button img {
  width: 25px;
}

#database button span {
  color: rgba(0, 0, 0, 0.1) !important;
}

#add-employee-form,
#update-employee-form {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.8);
  z-index: 100;
  border: solid 1px green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.employee-form,
.employee-info {
  width: 30%;
  height: 80%;
  background: #dfe0eb;
  border-radius: 50px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  z-index: 200;
}

.employee-form-wrapper,
.employee-form-info-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.btn {
  background: #29cc97 !important;
  width: 171px;
  height: 34px;
  border-radius: 100px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  margin-left: 25% !important;
}

label {
  font-weight: 700 !important;
  font-style: bold !important;
}

#form-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
  background: #dfe0eb;
  border-radius: 30px;
  z-index: 400;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.confirm-action {
  width: 30%;
  height: 80%;
  background: rgba(196, 196, 196, 0.8);
  border-radius: 50px;
  z-index: 105;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-cover2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 346px;
  height: 197px;
  background: #dfe0eb;
  border-radius: 30px;
  z-index: 400;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.confirm-action2 {
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.8);
  z-index: 105;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-wrapper,
.confirm-wrapper2 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.confirm-text-add-employee {
  text-align: center;
  margin: 0px 30px 20px 30px;
}

#yes,
#no,
#yes2,
#no2 {
  color: white;
  width: 100px;
  height: 34px;
  border-radius: 100px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
}

#yes,
#yes2 {
  background: #29cc97 !important;
}

#no,
#no2 {
  background: #cc4129 !important;
}

#success-notification-wrapper,
#removed-notification-wrapper,
#updated-notification-wrapper {
  position: absolute;
  top: 5.5%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 34px;
  background: #29cc97 !important;
  opacity: 0.8;
  border-radius: 100px !important;
  font-weight: 700 !important;
  font-style: bold !important;
  font-size: 14px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 105;
  margin: 0;
  display: none;
}

.success-notification,
.removed-notification,
.updated-notification {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.success-notification img,
.removed-notification img,
.updated-notification img {
  width: 17.5px;
  margin-left: 5px;
}
